<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Peliculas</h1>
        <app-tabla-peliculas (peliculaEvent)="recibirPelicula($event)"></app-tabla-peliculas>
      </div>
    </div>
  
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Solo Borrar</h2>
          <p>Will you do the same for me? It's time to face the music I'm no longer your muse. Heard it's beautiful, be the judge and my girls gonna take a vote. I can feel a phoenix inside of me. Heaven is jealous of our love, angels are crying from up above. Yeah, you take me to utopia.</p>
          <p><a class="btn btn-dark" href="#" role="button">Borrar</a></p>
        </div>
        <div class="col-md-4">
          <h2>Detalle película</h2>
          <app-detalle-pelicula [pelicula]=this.pelicula></app-detalle-pelicula>
          <button class="mt-2 btn btn-dark" (click)="this.limpiar()">Limpiar</button>
        </div>
        <div class="col-md-4">
          <h2>Solo Modificar</h2>
          <p>Playing ping pong all night long, everything's all neon and hazy. Yeah, she's so in demand. She's sweet as pie but if you break her heart. But down to earth. It's time to face the music I'm no longer your muse. I guess that I forgot I had a choice.</p>
          <p><a class="btn btn-dark" href="#" role="button">Modificar</a></p>
        </div>
      </div>
  
      <hr>
  
    </div> <!-- /container -->
  
  </main>