<div class="container">
    <div class="mt-5 row">
      <div class="col-md-4 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Paises</span>
        </h4>
        <app-tabla-paises (paisEvent)="cargarNacionalidad($event)"></app-tabla-paises>
      </div>
      <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Billing address</h4>
        <form class="needs-validation" [formGroup]="grupoControles" (ngSubmit)='cargarActor()'>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstName">Nombre</label>
              <input type="text" class="form-control" formControlName='nombre' placeholder="Ingrese el nombre">
              <small class="invalid" *ngIf="grupoControles.controls.nombre.errors?.required && grupoControles.controls.nombre.touched">El nombre es requerido</small>
            </div>
            <div class="col-md-6 mb-3">
              <label for="lastName">Apellido</label>
              <input type="text" class="form-control" formControlName='apellido' placeholder="Ingrese el apellido">
              <small class="invalid" *ngIf="grupoControles.controls.apellido.errors?.required && grupoControles.controls.apellido.touched">El apellido es requerido</small>
            </div>
          </div> 
          <div class="row">
            <div class="col-md-5 mb-3">
              <label for="country">Pais</label>
              <input type="text" class="form-control" placeholder="Pais" formControlName='pais' value={{this.pais}}>
              <small class="invalid" *ngIf="grupoControles.controls.pais.errors?.required && grupoControles.controls.pais.touched">El pais es requerido</small>
            </div>
          </div>
          <hr class="mb-4">
          <button type="submit" class="mb-5 btn btn-primary btn-lg btn-block">Agregar actor</button>
          <small class="success">{{this.agregado}}</small>
        </form>
      </div>
    </div>
</div>
